
  <%#= form_with model: [@room, @review, @comment], local: true do |f| %>

  <%= form_with model: @comment, url: room_review_comments_path(room_id: review.room.id, review_id: review.id), local: true do |f| %>

  <div class="field">
  <%= f.label :body, '内容' %><br>
  <%= f.text_area :body %>
  </div>

  <%= f.hidden_field :review_id, value: review.id %>

  <div>
  <%= f.submit '登録する', class:"button" %>
  </div>

  <% end %>
