
<div class="photo_link_buttons">
    <%= link_to '一覧に戻る', admin_rooms_path, class:"back_to_index" %>
</div>

<%= form_with model:[:admin, room], local: true do |f| %>
     <div class="grid_new">
          <div><%= f.label :name, "シェアハウス名" %></div>
          <div><%= f.text_field :name %></div>

          <div><%= f.label :price, "家賃" %></div>
          <div class="price"><%= f.text_field :price %>&nbsp;円&nbsp;-&nbsp;<%= f.text_field :maxprice %>&nbsp;円</div>

          <div><%= f.label :description, "詳細" %></div>
          <div class="description"><%= f.text_area :description, rows: 5 %></div>

          <div><%= f.label :tag_list, "タグの表示" %></div>
          <div><%= f.text_field :tag_list, value: room.tag_list.join(',') %></div>


          <div><%= f.label :image, "イメージ画像" %></div>
          <div><%= f.file_field :image %></div>

          <%= f.hidden_field :management_company_id, value: room.management_company %>

          <div><%= f.submit '登録する', class:"button" %></div>
     </div>
<% end %>
