
<div class="border">
     <h2 class="card_title"><%= @room.name %></h2>
     <div class="card_inner">
          <div class="w_50">
               <%= image_tag @room.image if @room.image.attached? %>
          </div>
          <div class="w_50 card_right">
               <div class="star_review">
                    <div class="star-rating">
                         <div class="star-rating-front" style="width: <%= @room.review_score_percentage %>%">★★★★★</div>
                         <div class="star-rating-back">★★★★★</div>
                    </div>
                    <div class="average-score-display">
                         <%= @room.avg_score %>点（<%= @room.reviews.count %>件のレビュー）
                    </div>
               </div>

               <p class="roomfee">&yen;<%= @room.price.try(:to_s, :delimited) %></p>
               <p class="description"><%= @room.description %></p>

               <p class="link_bottons">
               <%= link_to "編集する", edit_admin_room_path(@room), class: "button" %>
               <%= link_to "削除する", [:admin, @room], method: :delete,data:{confirm: "#{@room.name}を削除します。よろしいですか？"}, class: "button link_button" %>
               </p>
          </div>
     </div>
</div>
<div class="button_right"><%= link_to '一覧に戻る', admin_rooms_path, class:"button new" %></div>
