<div class="form_container">
  <%= form_with model: @user, local:true do |f| %>

    <div><%= f.label :username, "ユーザー名" %></div>
    <div><%= f.text_field :username %></div>

    <div><%= f.label :email, "メールアドレス" %></div>
    <div><%= f.email_field :email %></div>

    <div class="mt20"><%= f.label :profile, "プロフィール" %></div>
    <div><%= f.text_area :profile %></div>

    <div class="mt20"><%= f.label :profile_image, "プロフィール画像" %>
    </div>

    <div><%= f.file_field :profile_image %></div>

    <div class="new_btn"><%= f.submit '更新する', class:"button" %></div>
  <% end %>
</div>
