<div class="header_outline">
     <header class="header">
          <div class="title_gr">
               <h1><%= link_to "Sharehouse Review", root_path, class: "title" %></h1>
               <p><%= link_to "シェアハウス一覧", rooms_path, class: "sharehouse_list" %></p>
          </div>

          <div class="logout_gr">
               <% if user_signed_in? %>

                    <% if current_user.admin? %>
                    <div class="site_display">
                          <%= link_to admin_rooms_path do %>
                         <i class="far fa-arrow-alt-circle-right"></i>
                         <span class="admin_page">管理画面へ</span>
                    </div>
                    <% end %>

                          <%= link_to "マイページ", user_path(current_user), class: "my_page_btn" %>
                         <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout btn_link" %>
                    <% else %>
                         <p class="current_user">ようこそ <%= current_user.username %>さん</p>
                         <%= link_to "マイページ", user_path(current_user), class: "my_page_btn" %>
                         <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout btn_link" %>
                    <% end %>

               <% else %>
                    <%= link_to "ログイン", new_user_session_path, class: "header_login btn_link" %>
                    <%= link_to "新規登録", new_user_registration_path, class: "header_new btn_link" %>
               <% end %>
          </div>
     </header>
    </div>
