
     <p class="sharehouse_search">
          <i class="fas fa-home"></i>&nbsp;シェアハウスを探す</p>

     <div class="search_box">
          <%= search_form_for @q, class:"search" do |f| %>
               <%= f.search_field :name_cont, placeholder: '検索するテキストを入力...' %>
               <%= f.submit "検索", class: 'link_button'%>
          <% end %>
     </div>

    <% @rooms.each do |room| %>
      <div class="border">
        <h2 class="card_title"><%= room.name %></h2>
          <% if user_signed_in? %>
            <%= link_to room_bookmarks_path(room_id: room.id), method: :post do %>
              <p class="bookmark"><i class="far fa-bookmark"></i>&nbsp;ブックマークに追加</p>
            <% end %>
          <% end %>

        <div class="card_inner">
          <div class="w_50">
            <%= link_to room_photos_path(room_id: room.id) do %>
              <img src="<%= room_image_url(room) %>" alt="" />
              <div class="more_photo"><i class="fas fa-angle-double-right"></i>写真をもっと見る</div>
            <% end %>
	        </div>
          <div class="w_50 card_right">
            <div class="card_review">
              <div class="star_review">
                <span>清潔さ</span>
                 <div class="star-rating">
                 <div class="star-rating-front" style="width: <%= room.review_score_percentage_clean %>%">★★★★★</div>
                 <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display">
                  <%= room.avg_score_clean %>点（<%= room.reviews.count %>件）
              </div>
            </div>
            <div class="star_review">
                            <span>静かさ</span>
                            <div class="star-rating">
                                  <div class="star-rating-front" style="width: <%= room.review_score_percentage_clean %>%">★★★★★</div>
                                  <div class="star-rating-back">★★★★★</div>
                            </div>
                            <div class="average-score-display">
                                  <%= room.avg_score_clean %>点（<%= room.reviews.count %>件）
                            </div>
                         </div>
                         <div class="star_review">
                            <span>設備充実度</span>
                            <div class="star-rating">
                                  <div class="star-rating-front" style="width: <%= room.review_score_percentage_clean %>%">★★★★★</div>
                                  <div class="star-rating-back">★★★★★</div>
                            </div>
                            <div class="average-score-display">
                                  <%= room.avg_score_clean %>点（<%= room.reviews.count %>件）
                            </div>
                         </div>

                         <div class="star_review">
                            <span>人間関係</span>
                            <div class="star-rating">
                                  <div class="star-rating-front" style="width: <%= room.review_score_percentage_clean %>%">★★★★★</div>
                                  <div class="star-rating-back">★★★★★</div>
                            </div>
                            <div class="average-score-display">
                                  <%= room.avg_score_clean %>点（<%= room.reviews.count %>件）
                            </div>
                         </div>

                         <div class="star_review">
                            <span>管理会社対応</span>
                            <div class="star-rating">
                                  <div class="star-rating-front" style="width: <%= room.review_score_percentage_clean %>%">★★★★★</div>
                                  <div class="star-rating-back">★★★★★</div>
                            </div>
                            <div class="average-score-display">
                                  <%= room.avg_score_clean %>点（<%= room.reviews.count %>件）
                            </div>
                         </div>
                </div>

                <div class="star_text_gr">
                         <p class="roomfee">&yen;<%= room.price.try(:to_s, :delimited) %>&nbsp;-&nbsp;&yen;<%= room.maxprice.try(:to_s, :delimited) %><span class="utilities">&nbsp;(光熱費込)</span></p>
                         <%=simple_format(room.description, class: 'desc') %>

                         <%= render 'tag_list', tag_list: room.tag_list %>
                      </div>
                </div>
                <div class="link_buttons">
                    <%= link_to "問い合わせする", new_room_room_contact_path(room_id: room.id), class: "inqury" %>
                    <%= link_to "レビューを見る", room_review_path(room_id: room.id), class: "card_button1" %>
                    <%= link_to "レビューを書く", new_room_review_path(room_id: room.id), class: "card_button2" %>
                </div>
            </div>
      </div>
    <% end %>

     <div class="pagination">
          <%= paginate @rooms %>
          <%= page_entries_info @rooms %>
     </div>
