
<h2 class="photo_index"><i class="fas fa-camera"></i>&nbsp;<%= "#{@room.name}の写真一覧" %></h2>


 <div class="photo_link_buttons">
　　<%= link_to "問い合わせする", room_reviews_path(@room), class: "inqury" %>
    <%= link_to "レビューを見る", room_reviews_path(@room), class: "card_button1" %>
    <%= link_to "レビューを書く", room_path(@room), class: "card_button2" %>
 </div>

<div class="photo_flex">
  <% @photos.each do |photo| %>
  <div class="photo_gallery">
      <div class="photo_img"><img src="<%= photo_image_url(photo) %>" alt="" /></div>
      <div class="desc">
        <div class="photo_title"><%= photo.title %></div>
        <div class="photo_text"><%= photo.body %></div>
      </div>
  </div>
  <% end %>
</div>
