
<h2 class="ttl">ユーザーの詳細</h2>
<div class="button_right">
     <%= link_to '一覧へ戻る', admin_users_path, class:"button new" %>
</div>

<div class="grid_admin_user">
     <div class="grid_ttl"><%= User.human_attribute_name(:name)%></div>
     <div class="grid_ttl"><%= User.human_attribute_name(:email)%></div>
     <div class="grid_ttl"><%= User.human_attribute_name(:admin)%></div>
     <div class="grid_ttl">
</div>

<div class="border_layout"><%= @user.username %></div>
<div class="border_layout"><%= @user.email %></div>
<div class="border_layout"><%= @user.admin?? "あり" : "なし" %></div>

<div class="border_layout">
     <%= link_to "編集", edit_admin_user_path(@user), class:"button" %>
     <%= link_to "削除", [:admin, @user], method: :delete, data: {confirm: "#{@user.username}を削除してよろしいでしょうか？"}, class:"link_button" %>
</div>
