<div class="container">
     <div class="border">
          <h2 class="card_title"><%= @room.name %></h2>
          <div class="card_inner">
               <div class="w_50"><%= image_tag "room#{@room.id}" %></div>
               <div class="w_50">
                    <div class="star_review">
                         <div class="star-rating">
                              <div class="star-rating-front" style="width: <%= @room.review_score_percentage %>%">★★★★★</div>
                              <div class="star-rating-back">★★★★★</div>
                         </div>
                         <div class="average-score-display">
                              <%= @room.avg_score %>点（<%= @room.reviews.count %>件のレビュー）
                         </div>
                    </div>

                    <p class="roomfee">【お部屋代】¥<%= @room.price.to_s(:delimited) %></p>
                    <p class="description"><%= @room.description %></p>

                    <p class="link_bottons">

                    <%= link_to "レビューを書く", room_path(@room), class: "button link_button" %>
                    </p>
               </div>
          </div>
     </div>
     <div class="average-score-display">
         <%= @room.avg_score %>点（<%= @room.reviews.count %>件のレビュー）
     </div>

     <div class="grid_table">
          <div class="grid_ttl">ユーザー</div><div class="grid_ttl">点数</div><div class="grid_ttl">内容</div>
          <% @reviews.each do |review| %>
               <div class="border_layout"><%= review.user.username %></div>
               <div class="border_layout"><%= review.score %></div>
               <div class="border_layout"><%= review.comment %></div>
          <% end %>
     </div>
</div>