<div class="comment_form_container">
  <div class="grid_table_review">
    <div class="grid_ttl">ユーザー名</div>
    <div class="grid_ttl">点数</div>
    <div class="grid_ttl">内容</div>
    <div class="grid_ttl"></div>

    <div class="border_layout username_link">
     <div><i class="fas fa-arrow-circle-right"></i></div>
     <%= link_to @review.user.username, user_path(@review.user) %>
    </div>

      <%= form_with model: [@room, @review], local: true do |f| %>
        <div class="border_layout comment_evaluation">
          <%= f.radio_button :score, 5 %>
            <label><span class="text"></span><i class="fas fa-star"></i></label>
          <%= f.radio_button :score, 4 %>
            <label><span class="text"></span><i class="fas fa-star"></i></label>
          <%= f.radio_button :score, 3 %>
            <label><span class="text"></span><i class="fas fa-star"></i></label>
          <%= f.radio_button :score, 2 %>
            <label><span class="text"></span><i class="fas fa-star"></i></label>
          <%= f.radio_button :score, 1 %>
            <label><span class="text"></span><i class="fas fa-star"></i></label>
          <%= f.hidden_field :room_id, value: @room.id %>
        </div>
      <% end %>

    <div class="border_layout">
      <%= simple_format(@review.comment) %></div>
    <div class="border_layout favorites">
      <% if current_user.favorites?(@review) %>
        <%= link_to room_review_favorites_path(room_id: @review.room.id, review_id: @review.id), method: :delete do %>
          <i class="fa fa-heart"></i><% end %>
      <% else %>
        <%= link_to room_review_favorites_path(room_id: @review.room.id, review_id: @review.id), method: :post do%>
          <i class="far fa-heart"></i><% end %>
      <% end %>
        <%= @review.favorites.count %>
    </div>
  </div>

  <h2 class='review_reply'>レビューに返信</h2>
<%= render 'comments/form', room: @room, review: @review, comment: @comment, url: room_review_comments_path(@room, @review, @comment), model: @comment %>


<h2 class="comment">レビューコメント</h3>
<% @review.comments.each do |comment| %>
  <div class="grid_comment">
 <% if comment.persisted? %>
   <div><%= current_user.username %></div>
    <div><%= comment.body %></div>
    <div class="comment_button">
    <%= link_to '削除', room_review_comment_path(@room, @review, comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
    <%= link_to '編集', edit_room_review_comment_path(@room, @review, comment) %>
    </div>
    <% end %>
  </div>
<% end %>

</div>
