<!DOCTYPE html>
<html>
  <head>
    <title>シェアハウス</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- リセットCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <!-- CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- フォントオーサム -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" />
    <!-- JS -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render 'shared/admin_header' %>
    <%= render 'shared/toast' %>
    <div class="footer_fixed">
      <div class="container">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
